<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="assets/icon/nba_images/nba_logo.png" alt="" height="30px" width="30px"> NBA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NBA</ion-title>
    </ion-toolbar>
  </ion-header>



    <br>
      
    <div class="tabla-apuesta">
      <table class="tabla-posicion" >
  
        <tr>
          <th class="th-posicion">Partido</th>
          <th class="th-posicion">1</th>
          <th class="th-posicion">X</th>
          <th class="th-posicion">2</th>
        </tr>
        
        <tr>
          <th class="th-posicion">GS Warriors vs LA Lakers</th>
          <th class="th-posicion">1.20</th>
          <th class="th-posicion">7.45</th>
          <th class="th-posicion">3.85</th>
        </tr>

        <tr>
          <th class="th-posicion">Milwaukee Bucks vs LA Clippers</th>
          <th class="th-posicion">1.25</th>
          <th class="th-posicion">9.10</th>
          <th class="th-posicion">4.50</th>
        </tr>

        <tr>
          <th class="th-posicion">Atlanta Hawks vs Denver Nuggets</th>
          <th class="th-posicion">4.40</th>
          <th class="th-posicion">8.50</th>
          <th class="th-posicion">1.50</th>
        </tr>

        <tr>
          <th class="th-posicion">Boston Celtics vs Phoenix Suns</th>
          <th class="th-posicion">1.70</th>
          <th class="th-posicion">6.10</th>
          <th class="th-posicion">3.70</th>
        </tr>

      </table>
    </div>
    
      <div class="tabladeposiciones">
        <table class="tabla-posicion">
    
          <tr>
            <th class="th-posicion">Equipo</th>
            <th class="th-posicion">Posicion</th>
            <th class="th-posicion">Puntos</th>
            <th class="th-posicion">PJ</th>
            <th class="th-posicion">PG</th>
            <th class="th-posicion">PP</th>
            <th class="th-posicion">PE</th>
          </tr>
    
          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/suns.png" alt=""></th>
            <th class="th-posicion">1</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
    
           <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/boston.png" alt=""></th>
            <th class="th-posicion">2</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
    
          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/denver.png" alt=""></th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
    
          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/clippers.png" alt=""></th>
            <th class="th-posicion">4</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
    
          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/atlanta.png" alt=""></th>
            <th class="th-posicion">5</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
    
         
    
          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/bucks.png" alt=""></th>
            <th class="th-posicion">6</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>

          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/warriors.png" alt=""></th>
            <th class="th-posicion">7</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>

          <tr>
            <th class="th-posicion"><img src="assets/icon/nba_images/lakers.png" alt=""></th>
            <th class="th-posicion">8</th>
            <th class="th-posicion">40</th>
            <th class="th-posicion">17</th>
            <th class="th-posicion">13</th>
            <th class="th-posicion">3</th>
            <th class="th-posicion">1</th>
          </tr>
        </table>
      </div>
    
    
 









<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="mx" (click)="mx()">
        <ion-icon name="albums-outline"></ion-icon>
        Liga Mx
      </ion-tab-button>
      <ion-tab-button tab="mx" (click)="pl()">
        <ion-icon name="albums-outline"></ion-icon>
        Premier League
      </ion-tab-button>
     
       <ion-tab-button tab="mx" (click)="bu()">
        <ion-icon name="albums-outline"></ion-icon>
        Bundesliga
      </ion-tab-button>
       <ion-tab-button tab="mx" (click)="nb()">
        <ion-icon name="albums-outline"></ion-icon>
        NBA
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>






</ion-content>
