.inicio-sesion{
    margin-top: 100px;
    margin: 5%;
  }
  
  .login {
    text-align: center;
    padding: 10%;
  }
  

  .login-button{
    border-radius: 5px;
    padding: 10px;
  
  }
  
  .registrar{
    margin-bottom: 20%;
    text-align: center;
  }

  .custom-rounded-list {
    border-radius: 10px; /* Ajusta el valor según el grado de redondez deseado */
  }