<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bonos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bonos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <h3 class="ion-text-center">Descubre los diferenes bonos disponibles que tenemos para ofrecerte</h3>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/banner-cumple.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono De Cumpleaños</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            ¡Feliz cumpleaños! Frio MX te regala 500 MXN como regalo de tu cumpleaños para apostar en el área de deportes.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/jackpot.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono De Jackpot</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Todos los jueves tendras disponible un credito para jugar a Jackpot totalmente gratis!.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/registro-bono-casino.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono De Casino</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            BONO CASINO
            Gratis $500 MXN pesos en casino
            ¡Sin Depósito!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/bono-300.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono De Recompensa En Deportes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Frio MX te regala 300 MXN para apostar en el área de deportes.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/bono-100-deportes.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono 100% Primer Deposito En Deportes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            BONO DEL 100% EN TU PRIMER DEPÓSITO DEPORTES (Duplicamos tu Depósito).
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/icon/inicio_images/oxxopay-promotion.jpg" alt="Card 1">
          <ion-card-header>
            <ion-card-title>Bono Oxxo Pay</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Deposita por Oxxo Pay y si pierdes tu dinero Frio MX te regresa el 10% de tu depósito en tu cuenta.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
